* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    height: 100vh;
}

.header {
    width: 100%;
    height: 10%;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
} 

.player-names {
    width: 100%;
    height: 10%;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border-bottom: 2px solid black;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.tic-grid {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    background-color: black;
    gap: 5px;
}

.item {
    background-color: white;
    font-size: 10em;
    text-align: center;
}

.display {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner-declare {
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 1.7em;
}

.restart {
    border: none;
    height: 30px;
    width: 150px;
    background-color: lightblue;
    font-size: 1.2em;
    border-radius: 5px;
}

.restart:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.submit {
    border: none;
    background-color: lightblue;
    height: 20px;
    width: 50px;
    border-radius: 5px;
}

.submit:hover {
    cursor: pointer;
    transform: scale(1.1);
}

input {
    border: none;
    height: 20px;
    border-radius: 5px;
}